@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for a tech feel */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0f1419;
}

::-webkit-scrollbar-thumb {
  background: #6c6c6c;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #be202e;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: #1d2635;
}
